# IntelliJ Clutter
.idea/
.run/
*.iml

# IntelliJ Plugins Clutter
.jpb/

# NodeJS Clutter
node_modules/

# Maven compile dir
target/

# SPA Clutter
src/main/webapp/dist/
src/main/webapp/.quasar/

# Environment Files
.env/*
!.env/.example.env